# ===========================================
# Django
# ===========================================
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media/
staticfiles/
.env
.env.local
.env.production
*.mo

# ===========================================
# Virtual Environment
# ===========================================
venv/
env/
ENV/
.venv/
.env

# ===========================================
# VSCode / PyCharm
# ===========================================
.vscode/
.idea/

# ===========================================
# OS Specific
# ===========================================
.DS_Store
Thumbs.db

# ===========================================
# Migrations cache
# ===========================================
*/migrations/__pycache__/
*/migrations/*.pyc
*/migrations/*.py~

# ===========================================
# Python packaging
# ===========================================
*.egg-info/
dist/
build/

# ===========================================
# Backup / temp files
# ===========================================
*.bak
*.swp
*.tmp
*.orig
